.flipbook-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.flipbook-container {
  width: 400px;
  cursor: pointer;
  .flip-page {
    .flip-image {
        width: 300px;
        height: auto;
        object-fit: contain;
        padding-top: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .flipbook-container {
    margin-left: 1rem;
    width: 200px;
  }
  
}

