.flipbook-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.flipbook-container {
  width: 400px;
  .flip-page {
    .flip-image {
        width: 300px;
        height: auto;
        object-fit: contain;
        padding-top: 2rem;
    }
  }
}

