.flat-btn {
  text-transform: uppercase;
  background: var(--primary);
  color: #fff;
  letter-spacing: 2.5px;
  font-family: "arial", sans-serif;
  padding: 0.75rem;
  border-radius: 5px;
  border: 2px solid var(--secondary);
  min-width: fit-content;
  box-shadow: var(--button-shadow);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(0.2px);
    background: var(--background-blur);
    box-shadow: 0 0 15px 5px #c6afff59;
  }
  a {
    text-decoration: none;
    color: #202020;
  }
}

@media screen and (max-width: 768px) {
  .flat-btn {
    width: fit-content;
  }
}
@media screen and (max-width: 1024px) {
  .flat-btn {
    font-size: 10px;
    margin: 0;
  }
}
