.app {
  font-family: "Arial", sans-serif;
  font-display: swap;
  .error-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12rem 0;
      font-size: 32px;
      color: #fff;
    }
  .home-page,
  .about-page,
  .portfolio-page,
  .cv-page,
  .contact-page,
  .designer-page,
  .maker-page,
  .wardrobe-page,
  .film-page,
  .gallery-page,
  .policiy-page {
     animation: fadeIn 1s backwards;
     
    h1 {
      margin: 0;
      font-size: 32px;
      letter-spacing: 4.5px;
      font-weight: 500;
      color: var(--secondary);
      text-transform: uppercase;
    }
    h2 {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 4.5px;
      text-transform: uppercase;
      color: #fff;
    }
    h3 {
      font-size: 20px;
      letter-spacing: 4.5px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      letter-spacing: 1%;
      color: #fff;
      animation: fadeInUp 2s backwards;
      
        &:nth-of-type(2) {
          animation-delay: 0.5s;
        }
      
        &:nth-of-type(3) {
          animation-delay: 1s;
        }
    }
    .subtitle {
      font-family: "Arial", sans-serif;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 4.5px;
      color: var(--secondary);
      animation: fadeInUp 1s forwards;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      gap: 2rem;
      animation: fadeInUp 1s forwards;
    }
    .hero {
      height: 40vh !important;
        display: grid;
        width: 100%;
        height: 100vh;
        color: #fff;
      
        &>* {
          grid-column: 1;
          grid-row: 1;
        }
      
        .text-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center; 
          margin-top: 2rem;
        }
    }

    .second-section {
      padding: 0rem 0rem 6rem;

      .text-box {
        padding: 0 10rem 3rem;
        text-align: center;
      }
    }

    .third-section {
      margin: 5rem 2rem;
    }
    .anim {
      animation: fadeIn 1.5s forwards;
      .card-container {
        .flip-card {
          animation: fadeInUp 1s backwards;
        }

        @for $i from 1 through 10 {

          .flip-card:nth-child(#{$i}) {
            animation-delay: #{0.4s + ($i * 0.2s)};
          }
        }
      }
    }
    .none {
      opacity: 0;
    }
  }
}
.back-to-top {
  position: fixed;
  bottom: 15rem;
  right: 0;
  font-size: 28px;
  padding: 10px;
  margin: 0;
  background: var(--secondary);
  border-radius: 20% 0% 0% 20%;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  animation: fadeInRight 2s;
  transition: all 1s ease-in-out;

  &:hover {
    background: #636363;
    color: #fff;
  }
}
@media screen and (max-width: 768px)  {
  .app {
    .home-page,
    .about-page,
    .portfolio-page,
    .cv-page,
    .designer-page,
    .maker-page,
    .wardrobe-page,
    .film-page,
    .contact-page,
    .gallery-page {
      padding: 1rem 2rem;
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
      .subtitle {
        font-size: 18px;
      }
      .hero {
        .socials {
            top: 0;
            z-index: 0;
            .iconList {
              flex-direction: row;
              animation: fadeInUp 1s backwards;
              
            }
          }
      }
      .second-section {
        margin: 2rem;
        padding: 0;

        .text-box {
          padding: 0;
        }
      }
      .third-section {
        margin: 0;
      }
    }
  }
  .back-to-top {
    font-size: 20px;
    padding: 5px;
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .app {
    .home-page,
    .about-page,
    .portfolio-page,
    .cv-page,
    .contact-page,
    .designer-page,
    .maker-page,
    .wardrobe-page,
    .film-page,
    .gallery-page,
    .policiy-page {
        .hero {
          .socials {
            align-items: end;
            justify-content: center;
            position: relative;
            bottom: 12%;
            margin: 0;
        
            .iconList {
              flex-direction: row;
            }
          }
        
          .text-box {
            margin-top: 0rem;
          }
        }
      }
    }
}