.cv-page {
    text-align: center;
    table {
        border-collapse: collapse;
        width: 90%;
        margin: 3rem auto;
        color: #fff;

        th,
        td {
            padding: 0.5rem;
            text-align: left;
        }

        th {
            padding: 10px;
        }
    }
    .info {
        color: #fff;
        margin: 1rem 0;
    }
}
.cv-table-wrapper {
    overflow-x: auto;
}
@media screen and (max-width: 768px) {
    .cv-page {
        table {
            width: 100%;
            margin: 1rem;
            th,
            td {
                font-size: 12px;
                padding: 0.5rem;
            }
        }
        .info {
            font-size: 12px;
            margin: 0rem 0rem 1rem;
        }
    }
}