.breadcrumbs {
  position: absolute;
  width: 100%;
  left: 0;
  height: 25px;
  padding-left: 55px;
  padding-bottom: 25px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  margin-top: 6.25rem;
  background-color: var(--nav);
  z-index: 1000;
  > * {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: var(--secondary);
    }
  }
  .crumb {
    &::after {
      content: ">";
      margin-left: 10px;
      font-weight: 900;
    }
    &:last-child::after {
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .breadcrumbs {
    padding-left: 25px;
    font-size: 12px;
    margin-top: 6.2rem;
    background: var(--primary);
  }
}
