.image-gallery-slide img {
    max-width: 100% !important;
    max-height: 400px !important;
    object-fit: contain !important;
}


.image-gallery-slide img {
    max-height: 400px;
    object-fit: contain;
}

.image-gallery-thumbnail img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
