footer {
    text-transform: uppercase;
    background: #1a1a1a;
    color: #fff;
    font-family: 'Proxima Nova', sans-serif;

    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 1em 4em 0;

        .card-title {
            font-family: 'Avia Next', serif;
            color: var(--secondary);
            padding-bottom: 1rem;
        }

        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .logo {
                width: 50%;
                height: auto;
            }
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            padding: 1rem 1rem 0;

            .contact {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .text {
                font-size: 16px;
                margin: 0.25em;
            }
        }

        .nav-container {
            display: flex;
            flex-direction: column;
            padding: 1rem 1rem 0;
            .site-links {
                margin: 0;
            }

            li {
                list-style: none;
                text-align: left;
                padding: 0.5rem 0;

                &:hover {
                    text-decoration: underline;
                    color: var(--secondary);
                }

                a {
                    cursor: pointer;
                }
            }
        }
    }

    .div-line {
        margin: 0rem 5rem;
        border: 1px solid var(--secondary);
    }

    .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        gap: 8px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        .footer-container {
            flex-direction: column;
            gap: 2rem;
            padding: 1em 1.5em 0;

            .footer-left {
                .logo {
                    width: 10%;
                }
            }

            .contact-container {
                padding: 0;

                .text {
                    font-size: 12px;
                }
            }

            .nav-container {
                padding: 0;

                li {
                    font-size: 14px;
                }
            }
        }

        .div-line {
            margin: 1em 2em;
        }

        .copy {
            font-size: 12px;
            padding: 1em 0 2em;
        }
    }
}