.portfolio-page {
    .third-section {
        .text-box {
          margin-top: 2.5rem;
          .mobile-view {
            display: none;
          }
        }
    }
}
@media screen and (max-width: 768px) {
  .portfolio-page {
    .third-section {
      .text-box {
        display: flex;
        flex-direction: column;
          .mobile-view {
            display: initial;
          }
          .desktop-view {
            display: none;
          }
        }
    }
  }
}