.portfolio-page {
    .third-section {
        margin: 5rem 2rem;
        .text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            text-align: center;
        }
    }
}